<p-menubar [model]="items" [style]="{ 'background-color': 'white' }">
  <ng-template pTemplate="start">
    <a href="/">
      <img src="assets/images/LOGO.png" height="80" class="mr-2" />
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex-container">
      <span *ngIf="getNumberOfCartItems() > 0" class="notification-badge">{{
        getNumberOfCartItems()
      }}</span>

      <p-button
        icon="pi pi-shopping-cart"
        [disabled]="getNumberOfCartItems() == 0"
        (click)="redirectToCart()"
        style="margin-right: 8px"
        [ngClass]="{ 'has-items': getNumberOfCartItems() > 0 }"
      ></p-button>

      <p class="md:text-4xl md:mr-5 font-bold" style="color: #4caf50">
        Hilal Pines
      </p>
    </div>
  </ng-template>
</p-menubar>
