<div class="flex flex-row flex-wrap justify-content-between">
  <div
    class="product-card sm:w-full md:w-5 lg:w-5 xl:w-3 mb-3 border-solid border-primary-100 border-1 p-3 border-round-lg m-3"
    *ngFor="let product of products"
    [class.selected]="isSelected(product)"
  >
    <div class="flex flex-row">
      <img [src]="product.image" alt="{{ product.name }}" class="w-4" />
      <div class="flex flex-column justify-content-between ml-3">
        <button
          style="border: none; background-color: transparent; cursor: pointer"
          class="sm:text-base md:text-lg lg:text-xl hover:underline"
          (click)="showDialog(product)"
        >
          {{ product.name }} <i class="pi pi-external-link text-xs"></i>
        </button>
        <p-dialog
          [header]="product.name"
          [(visible)]="product.showDetails"
          [modal]="true"
          [style]="{ width: '90vw' }"
          [draggable]="false"
          [resizable]="false"
        >
          <p class="m-0">
            {{ product.description }}
          </p>
        </p-dialog>
      </div>
    </div>

    <div class="flex justify-content-between mt-3">
      <p class="price">{{ product.price }}$/kg</p>
      <div
        class="flex align-items-center w-5"
        [class.justify-content-end]="getSelectedQuantity(product.id) === 0"
        [class.justify-content-between]="getSelectedQuantity(product.id) != 0"
      >
        <button
          *ngIf="getSelectedQuantity(product.id) > 0"
          (click)="removeFromCart(product)"
          class="align-items-center justify-content-center bg-primary border-round border-primary border-1 hover:bg-green-300 p-1 md:pd-2"
        >
          <i class="pi pi-minus text-xs md:text-base p-2"></i>
        </button>

        <span *ngIf="getSelectedQuantity(product.id) > 0" class="text-sm"
          >{{ getSelectedQuantity(product.id) }} kg</span
        >

        <button
          (click)="addToCart(product)"
          class="align-items-center justify-content-center bg-primary border-round border-primary border-1 hover:bg-green-300 p-1 md:pd-2"
        >
          <i class="pi pi-plus text-xs md:text-base p-2"></i>
        </button>
      </div>
    </div>
  </div>
</div>
