<section class="line-height-3 p-2 m-2 text-lg flex justify-content-center">
  <div class="md:w-6">
    <h1 class="text-center">ABOUT</h1>
    <p>
      Established in 1970, our family business is a testament to generations of
      commitment to excellence and a passion for delivering premium quality
      nuts. Specializing in Lebanese pine nuts, we have expanded our offerings
      to include a diverse range of nuts such as almonds, walnuts, pistachios,
      raisins, cranberries, pecans, and more. Additionally, we take pride in
      providing a variety of honey and its related products. With a rich history
      spanning over five decades, we have become synonymous with unrivaled
      quality and a dedication to sourcing the finest ingredients.
    </p>
    <h2>Lebanese Pine Nuts: A Distinctive Offering:</h2>
    <ul class="flex flex-column gap-3 mt-3">
      <p>
        Our flagship product, Lebanese pine nuts, holds a special place in our
        assortment. Renowned for their superior quality, they stand out for
        several reasons:
      </p>
      <p>
        1. Premium Quality Origins: Sourced from Lebanon, our pine nuts benefit
        from the country's unique climate and soil conditions, resulting in a
        flavor profile that surpasses pine nuts from other regions.
      </p>
      <p>
        2. Health Benefits: Lebanese pine nuts are not only prized for their
        rich, buttery taste but also for their health benefits. Packed with
        nutrients, these nuts are an excellent source of antioxidants, healthy
        fats, and essential minerals. They contribute to heart health, boost
        energy, and support overall well-being.
      </p>
      <p>
        3. Sustainable Harvesting: Our commitment to sustainability is reflected
        in our sourcing practices. The Lebanese pine nuts are harvested
        responsibly, ensuring the preservation of the region's natural
        ecosystem.
      </p>

      <h2>Diverse Nut Selection: A Nut for Every Palate:</h2>

      <p>
        Explore a diverse array of nuts beyond our famed Lebanese pine nuts.
        Indulge in the crunch of almonds, the brain-boosting benefits of
        omega-3-packed walnuts, and the protein and fiber richness of flavorful
        pistachios. Our collection includes sweet and tangy raisins,
        cranberries, and the decadent, healthful buttery taste of pecans.<br><br>
         Cap
        off your experience with our honey offerings—ranging from pure, raw
        honey to delightful honey-infused products. Harvested locally from
        dedicated beekeepers, our honey is a pure and rich testament to nature's
        sweetness.
      </p>
    </ul>
    <h4 class="text-center mt-3">HAPPY AND HEALTHIER THAN EVER !</h4>
  </div>
</section>
