<!-- contact.component.html -->
<div class="contact-buttons">
  <button
    class="social-button whatsapp text-primary"
    (click)="openLink('https://wa.me/+96170634141/', '_blank')"
  >
    <i class="pi pi-whatsapp"> +961/70634141</i>
  </button>
  <button
    class="social-button facebook text-primary"
    (click)="openLink('https://www.facebook.com/hilalpines/', '_blank')"
  >
    <i class="pi pi-facebook"> Hilal Pines</i>
  </button>
  <button
    class="social-button instagram text-primary"
    (click)="openLink('https://www.instagram.com/hilalpines/', '_blank')"
  >
    <i class="pi pi-instagram"> @hilalpines</i>
  </button>
  <button
    class="social-button tiktok text-primary"
    (click)="openLink('https://www.tiktok.com/@hilal.pines', '_blank')"
  >
    Tiktok: hilal.pines
  </button>
</div>
