.displaying {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  margin: 0 0 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5%;
  width: 44%;
}
.product-card .product-image {
  transition: transform 0.3s ease-in-out; /* Adjust the duration and easing as needed */
}

.product-card:hover .product-image {
  transform: scale(1.1); /* Adjust the scaling factor as needed */
}


.card-header {
  display: flex;
  flex-direction: row;
}




.product-image {
  margin: 0;
  width: 35%;
  height: max-content;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  margin-left: 3%;
  color: #4caf50;
  font-size: smaller;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
