
<div class="top-section">
  <button (click)="redirectToPackages()">Go to Packages List</button>
  <button (click)="redirectToCart()">Open Cart</button>
</div>

<div class="product-card" *ngFor="let product of products" [class.selected]="isSelected(product)">
  <div class="card-header">
    <img
      [src]="product.image_link"
      alt="{{ product.name }}"
      class="product-image"
    />
    <div class="product-info">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <p class="price">Price: ${{ product.price }}/kg</p>
    </div>
  </div>

  <div class="buttons">
    <button class="read-more">Read More</button>


    <div class="plus-minus">

      <button (click)="removeFromCart(product)" class="p-button p-button-secondary p-button-icon-only">
        <span class="pi pi-minus"></span>
      </button>
    
      <span class="quantity-counter">{{ getSelectedQuantity(product.id) }} kg</span>
    
      <button (click)="addToCart(product)" class="p-button p-button-secondary p-button-icon-only">
        <span class="pi pi-plus"></span>
      </button>
    
    </div>
  </div>
</div>
