<div class="overlay" style="z-index: 98">
  <div class="cart-container p-4">
    <div
      class="header flex flex-row justify-content-between align-items-center mb-3"
    >
      <p class="justify-content-center align-items-center text-center text-xl">
        <i class="pi pi-shopping-cart text-xl"></i> {{ getTotalPrice() }}
      </p>

      <p-button
        type="button"
        label="Continue Shopping"
        (onClick)="closeCart()"
      ></p-button>
    </div>
    <div
      class="overflow-auto max-h-27rem flex lg:flex-row md:flex-column flex-wrap justify-content-between"
    >
      <div
        class="flex flex-row product-card w-full md:w-full lg:w-5 xl:w-5 mb-3 border-solid border-primary-100 border-1 p-3 border-round-lg"
        *ngFor="let item of cartItems"
        [class.shadow-1]="isSelected(item)"
      >
        <div class="flex flex-column align-items-start w-6">
          <p class="sm:text-sm hover:underline align-items-start">
            {{ item.name }}
          </p>
          <p class="text-xs">{{ getSmallTotalPrice(item) }}$</p>
        </div>

        <div class="flex justify-content-between w-6">
          <button
            (click)="removeFromCart(item)"
            class="align-items-center justify-content-center bg-primary border-round border-primary border-1 h-2rem w-2rem hover:bg-green-300"
          >
            <i class="pi pi-minus"></i>
          </button>

          <span class="flex align-items-center">{{ item.quantity }}</span>

          <button
            (click)="addToCart(item)"
            class="align-items-center justify-content-center bg-primary border-round border-primary border-1 h-2rem w-2rem hover:bg-green-300"
          >
            <i class="pi pi-plus"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-content-between mt-3">
      <!-- <button class="red-button" (click)="clearCart()">Clear Cart</button> -->

      <div>
        <p-toast></p-toast>
        <p-confirmDialog></p-confirmDialog>
        <p-button
          (click)="clearCart()"
          icon="pi pi-trash"
          styleClass="p-button-danger"
        ></p-button>
      </div>

      <p-button
        label="Checkout"
        icon="pi pi-check"
        (onClick)="checkout()"
        styleClass="bg-blue-400 border-blue-400"
      ></p-button>
      <!-- <button
        [ngClass]="{ disabled: getAllItems().length === 0 }"
        [disabled]="getAllItems().length === 0"
        class="checkout"
        (click)="checkout()"
      >
        Checkout
      </button> -->
    </div>
  </div>
</div>
