<section class="line-height-3 text-center">
  <div
    class="flex flex-column md:flex-row md:justify-content-around align-items-center w-12 homeImage"
  >
    <div class="align-self-center w-8 md:w-4 mt-4 md:mt-0">
      <p
        class="line-height-3 md:text-xl mt-3 md:mt-0 text-left md:text-justify mb-2"
        style="color: white"
      >
        Since 1970, we've been dedicated to providing premium Lebanese pine
        nuts. Our legacy now includes a variety of nuts like almonds, walnuts,
        pistachios, raisins, cranberries, pecans, and more. Rooted in tradition
        and quality, our brand is synonymous with excellence. Beyond nuts, we
        offer a range of honey and its derivatives. Committed to delivering
        handpicked selections, join us in celebrating the taste of tradition.
      </p>

      <p-button
        type="button"
        label="SEE PRODUCTS"
        [routerLink]="['/items']"
        class="text-primary"
        [style]="{ padding: '8px' }"
      ></p-button>
    </div>
    <p-carousel
      [value]="products"
      class="w-9 md:w-3 my-2 md:my-8"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="3000"
      [showNavigators]="false"
      [showIndicators]="false"
    >
      <ng-template let-product pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div class="mb-3">
              <img
                [src]="product.image"
                [alt]="product.name"
                class="product-image"
              />
            </div>
            <div>
              <h2 class="mt-5 text-white">{{ product.name }}</h2>
              <h3 class="text-xl text-white">${{ product.price }}</h3>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="text-center mt-8">
    <h2 class="text-5xl" class="text-primary">OUR HOT PACKAGES</h2>
    <div class="flex justify-content-center">
      <p class="sm:w-6 my-3 p-2 px-4 text-justify" style="color: black">
        Introducing our "Hottest Packages" - a curated list of offers that are
        currently in high demand. These top selections have gained popularity
        due to their exceptional sales, special taste combination, and positive
        customer feedback.
      </p>
    </div>
  </div>
  <!-- unitl i get all the offers done -->

  <p-carousel
    [value]="offers"
    class="w-full"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="5000"
    [responsiveOptions]="responsiveOptions"
    [showNavigators]="false"
  >
    <ng-template let-offer pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="mb-3">
            <img
              [src]="offer.image"
              [alt]="offer.name"
              class="product-image image-dark"
            />
          </div>
          <div class="flex flex-row justify-content-around">
            <div>
              <h4 class="mb-1">{{ offer.name }}</h4>
              <h6 class="mt-0 mb-3 text-xl">${{ offer.price }}</h6>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <p-button
    type="button"
    label="BUY OFFERS"
    [routerLink]="['/items']"
    [style]="{ padding: '8px', margin:'3px' }"
  ></p-button>
</section>
